In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/energydata_complete.csv')

In [ ]:
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [ ]:
df.shape

(19735, 29)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
X = df[['T2']]
y = df.T6

In [ ]:
y

0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64

In [ ]:
#Now, we split our dataset into the training and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y,
test_size=0.3, random_state=1)

In [ ]:
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
predict = model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predict)
round(r2_score, 2)

0.65

In [ ]:
# Number 13

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
new_df = df.drop(columns = ['date', 'lights'])

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaled = scaler.fit_transform(new_df)

In [ ]:
df2 = pd.DataFrame(scaled, columns = new_df.columns)

In [ ]:
df2.head(5)

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [ ]:
X2 = df2.drop(columns = ['Appliances'])

In [ ]:
y2 = df2.Appliances

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X2, y2,
test_size=0.3, random_state=42)

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
prediction = model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, prediction)
round(mae, 2)

0.05

In [ ]:
import numpy as np
rss = np.sum(np.square(y_test - prediction))
round(rss, 2)

45.35

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, prediction))
round(rmse, 3)

0.088

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, prediction)
round(r2_score, 2)

0.15

In [ ]:
w = model.coef_
w

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [ ]:
weights_df = pd.DataFrame({
    'columns': X2.columns,
    'weight': w
}).sort_values('weight', ascending=False)

In [ ]:
weights_df

        columns    weight
1          RH_1  0.553547
4            T3  0.290627
10           T6  0.236425
23    Tdewpoint  0.117758
14           T8  0.101995
5          RH_3  0.096048
11         RH_6  0.038049
21    Windspeed  0.029183
6            T4  0.028981
7          RH_4  0.026386
9          RH_5  0.016006
22   Visibility  0.012307
12           T7  0.010319
19  Press_mm_hg  0.006839
25          rv2  0.000770
24          rv1  0.000770
0            T1 -0.003281
8            T5 -0.015657
17         RH_9 -0.039800
13         RH_7 -0.044614
20       RH_out -0.077671
15         RH_8 -0.157595
16           T9 -0.189941
2            T2 -0.236178
18        T_out -0.321860
3          RH_2 -0.456698

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [ ]:
predict = ridge_reg.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predict))
round(rmse, 3)

0.088

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [ ]:
pred = lasso_reg.predict(x_test)

In [ ]:
weights = lasso_reg.coef_

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.094

In [ ]:
weights_df = pd.DataFrame({
    'columns': X2.columns,
    'weight': weights
}).sort_values('weight', ascending=False)

In [ ]:
weights_df

        columns    weight
1          RH_1  0.017880
21    Windspeed  0.002912
0            T1  0.000000
12           T7 -0.000000
24          rv1 -0.000000
23    Tdewpoint  0.000000
22   Visibility  0.000000
19  Press_mm_hg -0.000000
18        T_out  0.000000
17         RH_9 -0.000000
16           T9 -0.000000
14           T8  0.000000
13         RH_7 -0.000000
11         RH_6 -0.000000
10           T6  0.000000
9          RH_5  0.000000
8            T5 -0.000000
7          RH_4  0.000000
6            T4 -0.000000
5          RH_3  0.000000
4            T3  0.000000
3          RH_2 -0.000000
2            T2  0.000000
25          rv2 -0.000000
15         RH_8 -0.000110
20       RH_out -0.049557